* {
  margin: 0px;
  padding: 0px;
}
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  background-color: #000000;
}
#wrap-all {
  width: 100%;
  overflow: hidden;
}
#content {
  width: 100%;
}
#content.contentTransition {
  transition: margin-top .5s linear;
  -webkit-transition: margin-top .5s linear;
  -moz-transition: margin-top .5s linear;
  -o-transition: margin-top .5s linear;
  -ms-transition: margin-top .5s linear;
}
.content_child {
  width: 100%;
}
#content_1 {
  margin: auto;
  background: url("../images/kv.jpg") no-repeat;
  background-size: 100% auto;
}
#content_btn {
  position: relative;
  top: 58%;
  width: 55%;
  margin: 0 auto;
}
#content_btn img {
  display: block;
  width: 100%;
}
.content_btn_a1 {
  display: block;
}
.content_btn_a2 {
  display: block;
  width: 74%;
  margin-top: 10px;
}
#content_2 {
  margin: auto;
  position: relative;
  background: url("../images/box1.jpg") no-repeat;
  background-size: 100% auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  height: 200px;
  top: 50%;
  margin-top: -100px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 200px;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  height: 200px;
  position: relative;
}

.swipe-wrap > div > span {
  display: block;
  float: left;
  width: 277px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -136px;
}

.swipe-wrap > div > span > b {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: rgba(255,255,255,0);
  left: 50%;
  margin-left: -100px;
}

ul#position {
  display: block;
  width: 83px;
  height: 6px;
  position: absolute;
  top: 50%;
  margin-top: 50px;
  left: 50%;
  margin-left: -42px;
}
ul#position li {
  float: left;
  display: block;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 3px;
}
ul#position li.on {
  background: yellow;
}

#descImage {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(000,000,000,.8);
  background-position: 50% 45%;
  background-repeat: no-repeat;
  top: 0px;
  display: none;
}
#descTextbtn {
  position: absolute;
  width: 140px;
  height: 30px;
  background: url("../images/Technology.png") no-repeat center center;
  background-size: 100% auto;
  left: 50%;
  margin-left: -70px;
  bottom: 20%;
}
#content_3 {
  margin: auto;
  background: url("../images/box2.jpg") no-repeat;
  background-size: 100% auto;
}
#changeControl {
  width: 58px;
  height: 58px;
  position: absolute;
  background: url("../images/go.png") no-repeat center center;
  background-size: 60% auto;
  left: 50%;
  margin-left: -29px;
  bottom: 8%;
}

#changeControl.change {
  -o-transform: rotate(180deg); /* Opera浏览器 */
  -webkit-transform: rotate(180deg); /* Webkit内核浏览器 */
  -moz-transform: rotate(180deg); /* Firefox浏览器 */
}

#puma_logo {
  width: 81px;
  height: 65px;
  position: absolute;
  background: url("../images/puma_logo.png") no-repeat center center;
  background-size: 60% auto;
  right: 0px;
  bottom: 10%;
}
#bottom_bar {
  height: 8%;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1200;
}

#linear {
  height: 100%;
  width: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -2px;
  background-image: url("../images/line.jpg");
}

#leftbtn {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0px;
  background: url("../images/buynow.png") no-repeat center center;
  background-size: 60% auto;
}

#rightbtn {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0px;
  background: url("../images/gostore.png") no-repeat center center;
  background-size: 60% auto;
}
/*门店查询*/
.inwrap {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(000,000,000,.8);
  background-position: 50% 45%;
  background-repeat: no-repeat;
  top: 0px;
  display: none;
}
.instroe {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 45%;
  margin-top: -90px;
  background-color: #222222;
  display: none;
  z-index: 1001;
}

.instroe .instroe_title {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  background-color: red;
}

.instroe .instroe_title .title_content {
  position: absolute;
  width: 100%;
  height: 30px;
  font-size: 24px;
  color: #ffffff;
  top: 50%;
  margin-top: -15px;
}
.instroe .instroe_title .title_content .titleName {
  display: block;
  float: left;
  height: 30px;
  width: 30%;
}
.titleSelect {
  float: left;
  display: block;
  height: 30px;
  width: 200px;
  position: absolute;
  right: 10px
}
#citySelect {
  background-color: rgba(255,255,255,0);
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  height: 30px;
}

#instroe_content {
  width: 100%;
  position: absolute;
  top: 42px;
}
#instroe_content span {
  font-size: 12px;
  color:#FFFFFF;
}
#instroe_content ul li {
  width:100%;
  list-style:none;
  height: 34px;
  border-bottom: 1px dashed #6f6f6f;
}
#instroe_content ul li span.cityname {
  float: left;
  width: 18%;
  height: 27px;
  border-right: 1px dashed #6f6f6f;
  text-align: center;
  padding:7px 0 0 0;
}
#instroe_content ul li span.local {
  float: left;
  width: 79%;
  /*height: 20px;*/
  padding:5px 0 0 5px;
}

